---
import Layout from "@/layouts/Layout.astro";

import HeroKeyBackground from "@/assets/hero-key-background.webp";
import HeroKeyLogo from "@/assets/hero-key-logo.webp";
---

<Layout>
  <section>
    <picture id="hero-key"
		class="h-screen scale-112">
      <img
        id="hero-key-logo"
        src={HeroKeyLogo.src}
        class="absolute w-full h-full object-cover"
      />
	  <img
        id="hero-key-background"
        src={HeroKeyBackground.src}
        class="w-full h-full object-cover"
      />
    </picture>
  </section>
</Layout>
